// Variables CSS

// body
$body-bg-color: #EAECEE; 

// App
$app-bg-color: #F8F9F9;

// Settings
$settings-bg-color: #5D6D7E;
$settings-text-color: #fff;

// Form
$form-bg-color: #34495E;
$form-text-color: #fff;
$form-placeholder-color: #85929E;
$input-border-color: #fff;

// status
$success-color: #2ECC71;
$danger-color: #E74C3C;
