@import 'src/styles/vars';

#app {
  font-family: 'Source Sans Pro', sans-serif;
  min-width: 300px;
  min-height: 400px;
  width: 40%;
  height: 80vh;
  margin: 4em auto;
  border-radius: 5px;
  background-color: $app-bg-color;
  box-shadow: 0 8px 6px -6px #2E4053;
  position: relative;
}
